<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188718416477-ek308vnuesl8pfdtuavmbcn887rrgke2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188718416477-ek308vnuesl8pfdtuavmbcn887rrgke2</string>
	<key>API_KEY</key>
	<string>AIzaSyBH6N5fsPak3Djd8nqGH1IIwz8lH2_pvUg</string>
	<key>GCM_SENDER_ID</key>
	<string>188718416477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moosecodes.homecooked</string>
	<key>PROJECT_ID</key>
	<string>homecooked-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>homecooked-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188718416477:ios:0721f99ec0a23efd71c3b4</string>
</dict>
</plist>